.App-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: aqua;
    flex-direction: row;
}

.Main-content {
    flex-grow: 1;
    color: white;
    width: 85%;
    height: 100%;
    background-color: #191919;
}